@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-rubik: 'Rubik', sans-serif;

  --animate-actions: actions 2s linear infinite;
  @keyframes actions {
    0% {
      background-position: 0px;
    }
    100% {
      background-position: 150px;
    }
  }
}

@keyframes dots {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
